# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
*.ai
*.eps
JamMinas21T1/Library/SourceAssetDB
JamMinas21T1/Library/
JamMinas21T1/Library/ArtifactDB
JamMinas21T1/Library/CurrentLayout-default.dwlt
JamMinas21T1/Library/expandedItems
JamMinas21T1/Library/LastSceneManagerSetup.txt
JamMinas21T1/Library/SceneVisibilityState.asset
JamMinas21T1/Library/SourceAssetDB
JamMinas21T1/Library/ArtifactDB
JamMinas21T1/Library/Artifacts/b4/b41c54bdf503c842e98c57ac9bf21bfd
JamMinas21T1/Library/EditorInstance.json
JamMinas21T1/Library/SourceAssetDB
JamMinas21T1/Library/ArtifactDB
JamMinas21T1/Library/EditorInstance.json
JamMinas21T1/Library/InspectorExpandedItems.asset
JamMinas21T1/Library/SceneVisibilityState.asset
JamMinas21T1/Library/ShaderCache.db
JamMinas21T1/Library/ShaderCache/EditorEncounteredVariants
JamMinas21T1/Library/SourceAssetDB
JamMinas21T1/Library/StateCache/MainStageHierarchy/a8/a84ddab0406e31134b0549aede7e6cec.json
JamMinas21T1/Library/StateCache/SceneView/63/63c59c29150a325a027e199bcacdbfc9.json
